<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">

          <div id="section5">
            <div class="row" style="padding:135px 0px 0px 0px;">
              <div class="pro-first-block">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="row">
                    <div class="pro-group">
                      <div class="pro-thumb-img">
                        <a href="#">
                          <img class="img-responsive" src="assets/images/range/Gucci.jpg" />
                        </a>
                      </div>
                      <div class="pro-price">
                        <h6 class="text-center">
                          <b>GUCCI</b>
                        </h6>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="row">
                    <div class="pro-group">
                      <div class="pro-thumb-img">
                        <a href="#">
                          <img class="img-responsive" src="assets/images/range/Chanel.jpg" />
                        </a>
                      </div>
                      <div class="pro-price">
                        <h6 class="text-center">
                          <b>CHANEL</b>
                        </h6>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                  <div class="pro-group">
                    <div class="pro-thumb-img">
                      <a href="#">
                        <img class="img-responsive" src="assets/images/Home/Handbag.jpg" />
                      </a>
                    </div>
                    <div class="pro-price">
                      <h6 class="text-center">
                        <b>LOUIS VUITTON</b>
                      </h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                  <div class="pro-group">
                    <div class="pro-thumb-img">
                      <a href="#">
                        <img class="img-responsive" src="assets/images/range/Umbrand.jpg" />
                      </a>
                    </div>
                    <div class="pro-price">
                      <h6 class="text-center">
                        <b>UMBRANDED</b>
                      </h6>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding:100px 0px 0px 0px;">
              <div class="pro-first-block">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="row">
                    <div class="pro-group">
                      <div class="pro-thumb-img">
                        <a href="#">
                          <img class="img-responsive" src="assets/images/range/Salvatore.jpg" />
                        </a>
                      </div>
                      <div class="pro-price">
                        <h6 class="text-center">
                          <b>SALVATORE FERRAGAMO</b>
                        </h6>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="row">
                    <div class="pro-group">
                      <div class="pro-thumb-img">
                        <a href="#">
                          <img class="img-responsive" src="assets/images/range/Stuart.jpg" />
                        </a>
                      </div>
                      <div class="pro-price">
                        <h6 class="text-center">
                          <b>STUART WEITZMAN</b>
                        </h6>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                  <div class="pro-group">
                    <div class="pro-thumb-img">
                      <a href="#">
                        <img class="img-responsive" src="assets/images/range/Coach.jpg" />
                      </a>
                    </div>
                    <div class="pro-price">
                      <h6 class="text-center">
                        <b>COACH</b>
                      </h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                  <div class="pro-group">
                    <div class="pro-thumb-img">
                      <a href="#">
                        <img class="img-responsive" src="assets/images/Home/Shoes.jpg" />
                      </a>
                    </div>
                    <div class="pro-price">
                      <h6 class="text-center">
                        <b>MANOLO BLAHNICK</b>
                      </h6>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="padding:100px 0px 50px 0px;">
              <div class="pro-first-block">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="row">
                    <div class="pro-group">
                      <div class="pro-thumb-img">
                        <a href="#">
                          <img class="img-responsive" src="assets/images/range/Prada.jpg" />
                        </a>
                      </div>
                      <div class="pro-price">
                        <h6 class="text-center">
                          <b>PRADA</b>
                        </h6>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="row">
                    <div class="pro-group">
                      <div class="pro-thumb-img">
                        <a href="#">
                          <img class="img-responsive" src="assets/images/range/After-Six.jpg" />
                        </a>
                      </div>
                      <div class="pro-price">
                        <h6 class="text-center">
                          <b>AFTER SIX</b>
                        </h6>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                  <div class="pro-group">
                    <div class="pro-thumb-img">
                      <a href="#">
                        <img class="img-responsive" src="assets/images/Home/Shoes.jpg" />
                      </a>
                    </div>
                    <div class="pro-price">
                      <h6 class="text-center">
                        <b>VIEW ALL BRANDS</b>
                      </h6>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding:30px;">
      <div class="row">
        <div class="show-more-btn">
          <a href="#">
            <b>SHOW MORE PRODUCTS</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>