
ul._child_collapzion h5 {
    position: relative;
    right: 196px;
    top: -32px;
    width: 200px !important;
    background-color: #2f353e;
    color: #fff;
    padding: 4px;
    /* border-radius: 61px; */
    z-index: -2;
}

a._collapz_parant._close:after, a._collapz_parant._open:after {
    content: "\f083";
    font-family: FontAwesome;
    font-size: 30px;
    position: relative;
    top: 10px;
    font-style: normal;
    color: #fff;
}
a._collapz_parant {
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    float: right;
    -webkit-transition: -webkit-transform .1s linear 0ms;
    -moz-transition: -moz-transform .1s linear 0ms;
    transition: transform .1s linear 0ms; 
}
a._collapz_parant._close {
    background-color: #e45353;
}
a._collapz_parant._close:after {
    left: 0;
}
a._collapz_parant._open {
    background-color: #2f353e;
}
ul._child_collapzion {
    position: absolute;
    margin: 0;
    list-style: none;
    padding: 1px;
    top: 0;
    left: -5px;
    width: 100%; 
    z-index: 10;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    line-height: 10px;
}
ul._child_collapzion li a._collapz_child {
    color: #000;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: inline-block;
    background-color: #fff;
    margin: 0px 14px;
    text-align: center;
}
ul._child_collapzion li {
    text-align: right;
}
ul._child_collapzion li a._collapz_child i {
    margin-top: 12px;
}
ul._child_collapzion li span._title {
    position: relative;
    left: 8px;
    top: 0px;
    padding: 3px;    
}
ul._child_collapzion a {
    color: #000;
    background-color: #fff;
    padding: 3px;
}
._col_shadow {
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, .14), 0 1px 32px 0 rgba(0, 0, 0, .12), 0 2px 9px -1px rgba(0, 0, 0, .2);
}
