<!--HEADER SECTION BEGIN-->


<!--POPUP WINDOW BEGIN-->
<div class="modal fade" id="overlay">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="text-center">Signup</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="span1">
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>Sign In with Facebook</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="span2">
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>Sign In with Twitter</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="social-icon-block">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="span3">
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>Sign In with Google</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="span4">
                <a href="#">
                  <i class="fa fa-yahoo" aria-hidden="true"></i>Sign In with Yahoo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="wrap">
          <!-- strat-contact-form -->
          <!-- start-form -->
          <form class="contact_form" action="#" method="post" name="contact_form">
            <ul class="sign-form">
              <li>
                <input type="email" class="textbox1" name="email" placeholder="Email Address" required />
                <!--<span class="form_hint">Enter a valid email</span>-->
              </li>
              <li>
                <input type="number" name="phone-number" class="textbox2" placeholder="Mobile Number">
              </li>
              <li>
                <input type="password" name="website" class="textbox3" placeholder="password">
                <p>Password must contain at lease five characters.
                  <br />A Strong Password contains a combination of letters, numbers, and symbols. </p>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" checked>
                  <i></i>Get updates on our shop and promotions.</label>
              </li>
            </ul>
            <input class="register-btn" type="submit" name="Register" value="REGISTER" />
            <div class="clear"></div>
            <div class="forgot">
              <ul>
                <li class="sign-in-link">Already have an account?
                  <a href="#">Click Here.</a>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </form>
          <!-- end-form -->
          <!-- start-account -->
          <!-- end-account -->
          <div class="clear"></div>
          <!-- end-contact-form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--PopUp End-->
<!--POPUP WINDOW BEGIN-->

<!--HEADER SECTION END-->

<!--SLIDER SECTION BEGIN-->
<div class="slider-section">
  <ul class="slider">
    <li>
      <img class="img-responsive" src="assets/images/Home/Slider-Banner-1.png" alt="slide1" />
    </li>
    <li>
      <img class="img-responsive" src="assets/images/Home/Slider-Banner-2.png" alt="slide2" />
    </li>

  </ul>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
      <div class="slider-shop-now-btn text-center">
        <a href="#" class="hvr-wobble-vertical">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
<!--SLIDER SECTION END-->

<!--BODY SECTION BEGIN-->
<div class="container">
  <div class="row">
    <br />
    <br />
    <!--Offer Title begin-->
    <div class="text-center">
      <h1 class="offer-title">GET 20% OFF ABOVE 500$</h1>
    </div>
    <!--Offer Title end-->
    <br />
    <br />
    <br />
    <!--Collection Block Begin-->
    <div class="col-md-12">
      <div class="row">
        <div class="trending-section">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <h3 class="text-center">
                <b>New Products</b>
              </h3>
              <img class="img-responsive" src="assets/images/Home/New-Products.png" />
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <h3 class="text-center">
                <b>In Trends</b>
              </h3>
              <img class="img-responsive" src="assets/images/Home/In-Trends.png" />
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <a target="_blank" href="#">
              <h3 class="text-center">
                <b>Coming Soon</b>
              </h3>
              <img class="img-responsive" src="assets/images/Home/Coming-Soon.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--Collection Block End-->
    <br />
    <br />
    <!--Trending Search Section Begin-->
    <div class="col-md-12">
      <div class="row" style="padding-bottom:10px;">
        <div class="trend-title">
          <h5 class="text-center trend">
            <b>TRENDING SEARCHES</b>
          </h5>
        </div>
      </div>
      <div class="treanding-search-bg-color">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#">
              <h6 class="text-center">
                <b>Lorem ipsum dolor sit amet</b>
              </h6>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#">
              <h6 class="text-center">
                <b>Lorem ipsum dolor sit amet</b>
              </h6>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#">
              <h6 class="text-center">
                <b>Lorem ipsum dolor sit amet</b>
              </h6>
            </a>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#">
              <h6 class="text-center">
                <b>Lorem ipsum dolor sit amet</b>
              </h6>
            </a>
          </div>
        </div>

        <div class="trending-search-block">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="#">
                <h6 class="text-center">
                  <b>Lorem ipsum dolor sit amet</b>
                </h6>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="#">
                <h6 class="text-center">
                  <b>Lorem ipsum dolor sit amet</b>
                </h6>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="#">
                <h6 class="text-center">
                  <b>Lorem ipsum dolor sit amet</b>
                </h6>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="#">
                <h6 class="text-center">
                  <b>Lorem ipsum dolor sit amet</b>
                </h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Trending Search Section End-->



    <!--Editors Blog section Begin-->
    <div class="col-md-12">
      <div class="row">
        <div class="trend-title">
          <h5 class="text-center trend">
            <b>STYLE BLOG</b>
          </h5>
        </div>
        <div class="editors-blog-img">
          <img class="img-responsive" src="assets/images/Home/Style-Blog.png" />
        </div>
      </div>
    </div>
    <!--Editors Blog section End-->

    <!--Look Book Section Begin-->
    <div class="col-md-12">
      <div class="row">
        <div class="look-book-title">
          <h5 class="text-center">2018 LOOK BOOK</h5>
        </div>

        <div class="shop-now-btn text-center">
          <a href="#" class="hvr-bounce-to-bottom">READ MORE</a>
        </div>
      </div>
    </div>



    <!--Look Book Section End-->

    <!--Category section Begin-->
    <div class="col-md-12">
      <div class="row">
        <div class="trend-title">
          <h5 class="text-center trend">
            <b>CATEGORY</b>
          </h5>
        </div>

      </div>
    </div>
    <!--Category section End-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="wrapper">
              <div id="right">
                <div id="section5">
                  <div class="row">
                    <div class="pro-first-block">
                      <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="row">
                          <div class="pro-group">
                            <div class="pro-thumb-img">
                              <a href="#">
                                <img class="img-responsive" src="assets/images/Home/Accesseries.jpg" />
                              </a>
                            </div>
                            <div class="pro-price">
                              <h6 class="text-center">
                                <b>ACCESSORIES</b>
                              </h6>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="row">
                          <div class="pro-group">
                            <div class="pro-thumb-img">
                              <a href="#">
                                <img class="img-responsive" src="assets/images/Home/Clothing.jpg" />
                              </a>
                            </div>
                            <div class="pro-price">
                              <h6 class="text-center">
                                <b>CLOTHING</b>
                              </h6>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4">
                      <div class="row">
                        <div class="pro-group">
                          <div class="pro-thumb-img">
                            <a href="#">
                              <img class="img-responsive" src="assets/images/Home/Handbag.jpg" />
                            </a>
                          </div>
                          <div class="pro-price">
                            <h6 class="text-center">
                              <b>HANDBAGS</b>
                            </h6>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="pro-detail-second-block">
                      <div class="pro-first-block">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                          <div class="row">
                            <div class="pro-group">
                              <div class="pro-thumb-img">
                                <a href="#">
                                  <img class="img-responsive" src="assets/images/Home/Makeup.jpg" />
                                </a>
                              </div>
                              <div class="pro-price">
                                <h6 class="text-center">
                                  <b>MAKEUP</b>
                                </h6>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                          <div class="row">
                            <div class="pro-group">
                              <div class="pro-thumb-img">
                                <a href="#">
                                  <img class="img-responsive" src="assets/images/Home/Shoes.jpg" />
                                </a>
                              </div>
                              <div class="pro-price">
                                <h6 class="text-center">
                                  <b>SHOES</b>
                                </h6>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="row">
                          <div class="pro-group">
                            <div class="pro-thumb-img">
                              <a href="#">
                                <img class="img-responsive" src="assets/images/Home/Accesseries-1.jpg" />
                              </a>
                            </div>
                            <div class="pro-price">
                              <h6 class="text-center">
                                <b>BATH</b>
                              </h6>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">

                </div>

              </div>

              <div class="clear"></div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Subscribe Section Begin-->
    <div class="col-md-12" style="padding-top:40px;">
      <div class="row">
        <div class="subscribe-block">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="subscribe-title">
              <h6 class="text-center ">YOUR DAILY DOSE OF STYLE.</h6>
              <h6 class="text-center">THE LATEST LOOKS AND SALES JUST FOR YOU.</h6>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="email-subscribe-btn">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row">
                      <form class="click-btns">
                        <input class="email-button" type="submit" value="ENTER EMAIL" />
                      </form>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row">
                      <form class="click-btns">
                        <input class="subscribe-button" type="submit" value="SUBSCRIBE" />
                        <p class="subscribe-content">
                          By entering your email address, you are agreeing to our Terms of Service, Privacy Policy,and to receive emails from On Screen
                          Fashion.
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Subscribe Section End-->



    <!--BODY SECTION END-->
  </div>
</div>
<!--Body Container End-->

<!--FOOTER SECTION BEGIN-->
