<div class="header-section">
  <div class="col-md-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row">
          <div class="header-logo">
            <a href="#">
              <img class="img-responsive" src="assets/images/Logo.png" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row">
          <!-- Input Group -->
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" id="inputGroup" />
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
            </div>

            <ul class="social-icon">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="caret"></span>
                </a>
                <ul class="register dropdown-menu" role="menu">
                  <li>
                    <a href="#" class="briefPopUp linkCss" data-briefPopUp-id="myModal" data-animation="fade">SignUp</a>
                  </li>
                  <li>
                    <a href="#">Register</a>
                  </li>
                  <li>
                    <a href="#">My Orders</a>
                  </li>
                  <li>
                    <a href="#">My Wishlist</a>
                  </li>
                  <li>
                    <a href="#">Notifications</a>
                  </li>
                  <li>
                    <a href="#">Edit Profile</a>
                  </li>
                  <li>
                    <a href="#">Logout</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Nav Bar Begin-->
  <div class="col-md-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row">
          <div class="border-bottom"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="Range.html" target="_blank">Range
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="brand">Brands</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" target="_blank" class="nav-link">About </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" target="_blank">Terms </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" target="_blank">RSS </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--/.nav-collapse -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--Nav Bar End-->
</div>